@media screen and (min-width:1200px) and (max-width:1400px){
    .container{
        width:1169px;
    }
}

@media screen and (min-width:1401px){
    .container{
        width:100%;
    }
}

button, a{
    &:focus{
        outline:none !important;
    }
}

$background: #000;

.techSheetDiv {
    text-align: center;
}

body{
    background:$background;
}

button, input{
    &:focus{
        outline:none !important;
    }
}
input.form-control, textarea{
    border:solid 1px #c4c4c4 !important;
    &:focus{
        border-color:#222222 !important;
        outline:none !important;
        box-shadow:inset -1px -1px 2px 0 rgba(118,118,118,0.25) !important;
    }
}

//login
body.not_loggedin{
    div#content {
        z-index: 1;
        background-color: transparent;
    }
    
    nav#sidebar {
        filter: blur(4px);
    }
    
    div#main-header {
        filter: blur(6px);
        z-index:0;
    }
    #login-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100000000000;
        background-color: rgba(0,19,24,0.6);
    }
    .login-inner {
        flex-direction: column;
        height: 100%;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    div#login-group {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 420px;
        align-items: center;
        background: #fff;
        border-radius: 8px;
        padding: 36px 30px;
    }
    .login-header {
        margin-bottom: 56px;
    }
    .group-wrap {
        display: block;
        width: 100%;
        text-align: center;   
    }
    .login-form-group {
        text-align: left;
    }
    
    label.control-label {
        float: left;
    }
    
    .form-input-item {
        margin-bottom: 36px;
        float: left;
        width: 100%;
    }
    input.form-control {
        margin-top:0px;
        border-radius: 2px;
        box-shadow: inset -1px -1px 2px 0 rgba(118,118,118,0.25);
        background-color: #ffffff;
        border: solid 1px #c4c4c4;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        height: 48px;
    }
    button.btn-save{
        height: 48px;
        width: 100%;
        text-align: center;
        border-radius: 2px;
        background-color: #27ae60;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        border: 0px;
        width: 100%;
        img {
            margin-top: -6px;
            margin-right: 6px;
        }
        &:hover{
            background-color:#27ae60 !important;
        }
    }
    .login-messages > div {
        margin-top: 24px;
    }
}

md-datepicker.delivery-date {
    float: left;
    margin-top: 0px;
    height: 36px;
    border-radius: 2px;
    border: solid 1px #c4c4c4;
    box-shadow: inset -1px -1px 2px 0 rgba(118,118,118,0.25);
    font-size: 16px;
}

md-calendar {
    float: left;
    background: white;
    border: 0px !important;
    margin: 0 auto !important;
}

.md-calendar-scroll-mask .md-virtual-repeat-container{
    width:100%;
    float:left;
    box-shadow:none;
}



.input-wrap-inner{
    label.error {
        color: #c21414;
        font-size: 14px;
        font-weight: normal;
        width: 100%;
        float: left;
        padding: 6px 0 6px;
    }
}

.configurations-panel{
    display:none;
    &.active{
        display:block;
    }
}

h5.block-title.block-search {
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
}

input.form-search{
    margin-top:10px;
}

.ng-untouched {
    border:1px;
    border-style: solid;
    border-color: rgba(25, 131, 173, 0.884);
    margin-top: 10px;
}

.productLabel {
    background-color:rgba(171, 196, 219, 0.644);
}


.productLabelEmptySpace { 
    margin-top:20px; 
}

.productLabelTextBoxTMarginTop { 
    margin-top:100px; 
}

.mainDiv {
    background-color:rgb(255, 255, 255);
}

.productLabelButtonBox {
    position: absolute;
    bottom:0;
    right:0;
}

.headerHeight50 {
    height: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
    width:100%;
}

.headerHeight30 {
    height: 30px;
}

.container-fluid {
    background-color:#6d7fcc;
}

h4 {
    display: block;
    font-size: 1.5em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color:whitesmoke;
}

/* ------------------------ EDIT IMAGE FILE UPLOAD STYLE----------------------------*/

.thumb {
    width: 200px;
    height: 200px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}


.progress {
    display: inline-block;
    width: 150px;
    height: 25px;
    border: 0px;
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    font-weight: bold;
    margin-block-start: 300px;
 }

/*----------------------------------------------------------------------*/
.my-col-count-style {
    column-count: 3;
    column-gap: 15px;
}
      
.my-col-count-style .panel {
    display: inline-block;
    width: 100%;
}

/*------------------------------------------------------------------------*/

.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    display: inline-block;
    padding: 6px 12px;
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }

 /* ------ Everything for the Modals ------------*/
 .modal {
  display: table;
  position: fixed;
  height: 100%;
  width: 100%;
} 

.modal-dialog  {
  display: table-cell;
  vertical-align: middle;
}

.modal-content {
  margin-left: auto;
  margin-right: auto; 
  width: 600px; /*whatever width you want*/
}

.modal-body{
    overflow-y: inherit;
}

/* ------------------------------------------------*/

/*------------- Style for the Pagination ----------*/

/* ------------------------------------------------*/

.inpDiv {
  float: right;
  width: 100px;
  height: 50px;
  padding-right: 170px;
}

.inpDiv2 {
    position: absolute;
}

.modal-title {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color:black;
}

.floating-card {
  float: left;
  margin: 5px;
  max-width: 300px;

}


/* --------------------  CSS para o Navbar BOOTSTRAP ----------------------------------*/

/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/*--------------------------------  TOOLTIP -----------------------------------------------------*/
 /* Tooltip container */
 .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: rgb(27, 11, 11);
    text-align: center;
    padding: 5px 0;
    border-radius: 30px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 

// New Styles

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body{
    font-family:'Roboto', sans-serif;
    font-size:14px;
    text-align:left;
    font-weight:normal;
}

#content{
    width:100%;
    float:left;
    padding:0px;
    background:#fafbfc;
    padding-left: 180px;
}
#main-header{
    width:calc(100% - 180px);
    float:left;
    padding: 21px 0px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 1;
    top:0px !important;
    &.home-page{
        box-shadow:none;
        background:#fafafa;
        h1.main-title{
            display:none;

        }
    }
    h1.main-title{
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #222222;
        margin:0 auto;
        padding-left:0px;
        transition: all 0.3s;
    }
    ul#notifications{
        display: none;
        padding:0px;
        float:right;
        margin:0 auto;
        //display: none;
        li.notification{
            width:30px;
            height:30px;
            float:left;
            margin:0px 2px;
            position:relative;
            list-style-type: none;
            background-size:100%;
            background-position:center center;
            cursor:pointer;
            &:before{
                position:absolute;
                width:30px;
                height: 30px;
                top:0px;
                left:0px;
            }
            span.notification-label {
                position: relative;
                width: 18px;
                height: 18px;
                top: -8px;
                right: -15px;
                z-index: 1;
                text-align: center;
                border-radius: 100%;
                font-size: 10px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 18px;
                letter-spacing: normal;
                color: #ffffff;
            }
        }
        .notification-error{
            &:before{
                content:url(../assets/icons/notification-error.svg);
            }
            .notification-label{
                background-color: #e31b1b;
            }
        }
        .notification-warning{
            &:before{
                content:url(../assets/icons/notification-warning.svg);
            }
            .notification-label{
                background-color: #e3cf1b;
            }
        }
        .notification-status{
            &:before{
                content:url(../assets/icons/notification-status.svg);
            }
            .notification-label{
                background-color: #1be36b;
            }
        }
        .expanded .notification-wrap{
            opacity: 1;
            height:auto;
            display:block;
        }
        .notification-wrap {
            cursor: auto;
            position: absolute;
            right: -4px;
            width: 400px;
            top: 100%;
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            z-index:0;
            margin-top: 12px;
            opacity: 0;
            height:0px;
            display:none;
            .notification-wrap-group{
                background: #fff;
                padding: 24px 12px;
                position:relative;
                &:before, &:after{
                    position: absolute;
                    top: -10px;
                    right: 8px;
                    width:20px;
                    height:20px;
                    background:#fff;
                    transform:rotate(45deg);
                }
                &:before{
                    content:"";
                    z-index:-1;
                    border:1px solid #dedede;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                &:after{
                    content:"";
                    z-index: 1;
                }
                .notification-group {
                    border-bottom: 1px solid #cccccc;
                    padding-bottom: 12px;
                    margin-bottom: 12px;
                    line-height: normal;
                    font-size: 14px;
                }
                
                .notification-inner {
                    max-height: calc(100vh - 130px);
                    overflow-y: scroll;
                }
                
                .notification-group-title {
                    color: #000000;
                    font-weight: bold;
                    margin-bottom: 6px;
                }
                
                .notification-lines {
                    color: #222222;
                }
                
                .notification-item {
                    margin-bottom: 18px;
                }
            }
        }
    }
}
.home-block {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: visible;
    position: relative;
    margin-bottom:36px;
    .block-heading {
        background: #222222;
        color: #fff;
        padding: 18px 14px;
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        float: left;
        h2, .table-number{
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            font-size: 24px;
            margin: 0 auto;
            width:100%;
        }
        h2{
            max-width:85%;
            float:left;
        }
        .table-number{
            max-width:15%;
            float:left;
            text-align:right;
        }
    }
    #label-table, #order-table, #boxes-table{
        padding-top:0px !important;
    }
    .label-table-wrap{
        border-radius:0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow:none;
    }
    
}

#main-content{
    width:100%;
    float:left;
    margin-top:36px;
    background:transparent;
    position:relative;
    z-index:0;
    padding-top:72px;
    padding-bottom:72px;
}

.header-label-checkbox, .item-label-checkbox {
    max-width: 50px;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#sidebar{
    transition: all 0.3s;
    width: 180px;
    background-color: #222222;
    min-width:180px;
    position: fixed;
    height: 100vh;
    z-index: 1;
    top:0px !important;
    .sidebar-header{
        background:transparent;
        width: 100%;
        float:  left;
        padding: 18px 0px;
        text-align: center;
    }
    ul.components{
        width:100%;
        float:left;
        padding:0px;
        margin-bottom: 0px;
        border: none !important;
        li{
            color:#fff;
            a{
                padding:9px 0px;
                background-color: rgba(255, 255, 255, 0.02);
                color:#fff !important;
                transition: all 0.3s;
                span.menu-icon-wrap {
                    width: 40px;
                    text-align: center;
                }
                &:hover, &.active-nav{
                    transition: all 0.3s;
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
            a:before{
                content:"" !important;
            }
           
        }
        li.active{
            a{
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
    #settings-nav {
        position: absolute;
        bottom: 0;
    }
    &.active{
        max-width: 180px;
    }
}
.header-actions {
    border-radius: 4px;
    box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border: solid 1px #CACBCC;
    overflow: hidden;
}
button.button {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border: none;
    padding: 14px 0px;
    width: 100%;
    span.button-inner-wrap{
        margin-bottom: -4px;
        img {
            float: left;
        }
        .btn-text {
            float: left;
            margin-bottom: -10px;
            margin-left:6px;
        }
    }
    &.add{
        background:#27AE60;
    }
    &.multiple{
        width:50%;
        float:left;
        img{
            margin-right:6px;
        }
    }
    &.print{
        background:#2755ae; 
    }
}
.search-wrap {
    width: 100%;
    float: left;
    input {
        margin:0 auto;
        width: 100%;
        float: left;
        height: 100%;
        border: none;
        padding: 14px 4px;
        position:  relative;
        z-index: 0;
        background-color: #fafbfc;
        box-shadow: inset 2px 0 2px 0 rgba(0, 0, 0, 0.25);
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.75);
    }
}
#card-content{
    padding-top: 36px;
    .item-card {
        background-color: #ffffff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow:hidden;
        position:relative;
        margin-bottom:36px;
        .image-wrapper{
            z-index:0;
            .image-inner{
                width:100%;
                padding-top:100%;
                height:0;
                background-size: cover;
                background-position: center;
            }
        }
        .info-wrapper{
            position:absolute;
            bottom:0px;
            z-index:1;
            background: #fff;
            width: 100%;
            float: left;
            padding:9px 12px;
            min-height:48px;
            .name {
                max-width: calc(100% - 30px);
                float: left;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: normal;
                color: #222222;
                width:100%;
            }            
            .card-actions {
                width: 30px;
                float: right;
                position: absolute;
                right: 12px;
                bottom: 9px;
                .btn-card {
                    padding: 0px;
                    border: 0px;
                }
            }
        }
        .item-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100%;
            .top-overlay {
                background-color: rgba(0, 0, 0, 0.75);
                height: 100%;
                color: #fff;
                padding: 20px 12px 48px;
                .item-name {
                    font-size: 22px;
                    min-height: 55px;
                    width:100%;
                    float:left;
                }
                .price-half{
                    width:50%;
                    float:left;
                }
                .item-text{
                    font-size:18px;
                    width:100%;
                    float:left;
                    margin: 3px 0px;
                    span.label{
                        font-size:14px;
                        width:100%;
                        float:left;
                        text-align:left;
                        font-weight: normal;
                        padding: 0px;
                    }
                }
            }            
            .btn-card {
                border: 0px;
                padding: 0px;
            }            
            .btn-left {
                float: left;
            }            
            .btn-right {
                float: right;
            }
        }
        &:hover .item-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            z-index:1;
        }
    }
    
}
.nav-toggle{
    position: absolute;
    height: 100%;
    width: 60px;
    background: #222;
    top: 0px;
    left: 0px;
    padding: 24px 15px;
    z-index:1;
    display:none;
}
#menu-toggle{
    display:none;
    width: 30px;
    height: 24px;
    float: left;
    margin-right: 6px;
    background: #222;
    border: none;
    padding: 5px;
    border-radius: 2px;
    margin-top: 3px;
    span.icon-bar{
        width: 100%;
        float: left;
        margin-bottom: 4px;
        background: #fff;
        height: 2px;
    }
}

#order-table, #label-table {
    padding-top: 36px;
}

.order-labels-content{
    .item-inner-wrap{
        padding-bottom:9px;
    }
}

.label-table-header > .inner-wrap {
    padding: 9px 0px;
}

.order-table-wrap, .label-table-wrap {
    border-radius: 4px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.25);
}

.order-table-content > .col-md-12:last-child ul.dropdown-menu.ng-isolate-scope {
    top: auto !important;
    bottom: 100% !important;
}

#action-wrap{
    padding:48px 0px;
    button.btn-save {
        height: 48px;
        width: auto !important;
        text-align: center;
        border-radius: 4px;
        background-color: #27ae60;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        border: 0px;
        float: right;
        padding: 0px 28px;
    }
}

.header-label-checkbox {
    margin-left: 4px;
    margin-right: -4px;
}
.checkbox-wrap{
    margin-top:4px;
}

.btn-black {
    background:  #222222;
    color: #fff !important;
    text-align:  center;
    max-width:  calc(50% - 23px);
    width: 100%;
    img {
        margin-right: 5px;
    }
    &:first-child{
        margin-right:15px;
    } 
    &:last-child{
        margin-left:15px;
    }   
    &.btn-outline{
        border:2px solid #222222;
        background:#ffffff;
        color:#222222 !important;
    }
}

.order-table-header, .label-table-header{
    > .inner-wrap{
        background-color: #dadada;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color:#222;
        width:100%;
        float:left;
        > div {
            padding-top: 5px;
            padding-bottom: 5px;
            line-height: 1.2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 60px;
            span.light{
                font-weight:normal;
            }
        }
        > .header-order-products {
            line-height: 1.2;
        }
    }
}
.disabled{
    cursor: auto;
    opacity:0.5;
}

.item-inner-wrap{
    background-color: #ffffff;
    box-shadow:inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    width:100%;
    float:left;
    padding: 9px 0 0px;
    > div:first-child {
        text-indent: 12px;
        overflow: hidden;
    }
}
div[ng-table="boxesToOrderTable"]{
    .item-inner-wrap>div:first-child {
        text-indent: 12px;
        overflow: initial;
    }
}


a.btn.btn-sm {
    padding: 0px;
    background: transparent !important;
    border: none;
    margin-right:5px;
    &:last-child{
        margin-right:0px;
    }
}

$colorVariable: var(--value);
.progress-bar-wrap {
    width: 100%;
    float: left;
    height: 12px;
    //margin-top: 5px;
    border-bottom: 1px solid #dedede;
    background: #ededed;
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25);
    .progressbar-inner{
        background:#cd1919;
        //transition: all 3s ease-in-out;
        height:12px;
        width:0px;
        /* width: calc(var(--value) * 1%);
	    background: hsl(calc($colorVariable * 0.9), 50%, 50%); */
        &.full{
            background:#27ae60;
            transition: all 3s ease-in-out;
            width:100%;
        }
    }
}
.header-order-nr {
    text-indent: 5px;
}
.table-item{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222;
    line-height:2;
}

.table-item.item-order-nr{
    overflow-x:hidden;
}

.item-order-actions a {
    float: left;
    width: 25px;
}

.item-order-nr {
    font-weight: bold;
}

.item-order-products strong {
    font-size: 22px;
    line-height:1.4;
}

#configurations-wrap{
    //margin-top:-72px;
}

.item-order-state{
    span.order-status {
        width: 50%;
        float: left;
    }
    
    .item-order-actions {
        width: auto;
        float: right;
        margin-right: 7.5px;
        max-width: 50%;
    }
}

.product-image-label{
    width:100%;
    height:auto;
    float:left;
    border-radius:4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-product-label, .add-order-label{
    h2 {
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #222222;
        margin: 0 auto;
        background: #fff;
        padding: 14px 8px 12px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}

#add-product, #add-order {
    border-radius: 4px;
    background-color:rgba(226, 226, 226, 0.5);
    border: solid 1px #d9d9d9;
    margin-top: 48px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    //overflow: hidden;
    input.form-control {
        border-radius: 2px;
        border: solid 1px #c4c4c4;
        box-shadow: inset -1px -1px 2px 0 rgba(118, 118, 118, 0.25);
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        height: 36px;
        margin:12px 0px;
    }
    .add-actions-wrap {
        width: auto;
        float: right;
        padding-right: 8px;
        margin: 12px 0px;
        .btn-save {
            width: 174px;
            height: 36px;
            border-radius: 2px;
            background: #27ae60 !important;
            color: #fff;
            border: none;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            img {
                margin-right: 6px;
                margin-top: -1px;
                margin-bottom: 2px;
            }
        }
        
        .btn-cancel {
            width: 36px;
            height: 36px;
            border-radius: 2px;
            background: #c21414 !important;
            color: #fff;
            border: none;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }
        
        .btn-default {
            padding: 0px;
            text-align: center;
            line-height: 16px;
        }
        
        .btn-default:hover {
            color: #fff;
        }

    }
    
}

#add-order .add-product-form{
    .col-md-3:first-child .input-wrap {
        margin-left: 8px !important;
        width: calc(100% - 8px);
    }
    label{
        width:100%;
        float:left;
    }
    .input-wrap {
        float: left;
        width: 100%;
        margin-top: 24px;
        .form-control {
            margin-top: 0px !important;
        }
    }
    .add-actions-wrap{
        margin: 49px 0px 12px !important;
    }
    button.md-datepicker-button {
        height: 36px !important;
        padding-top: 6px !important;
        float:left;
    }
    
    button.md-datepicker-button.md-icon-button.md-button.md-ink-ripple {
        padding-top: 6px !important;
        float: left;
    }
    
    .md-datepicker-input-container {
        float: left;
        height: 36px;
        line-height: 33px;
    }
    
    button.md-datepicker-triangle-button.md-icon-button.md-button {
        margin-top: 8px;
    }
    md-datepicker{ 
        input{ 
            pointer-events:none; 
        } 
    }
}
.order-product-details-add{
    .btn-datepicker{
        margin-left: -40px;
        float: left;
        margin-top: -12px;
        border-radius: 2px;
        padding-top: 8px;
    }
}
.btn-datepicker-single{
    margin-top: -12px;
    margin-left: -2px !important;
    padding-top: 8px;
    border-radius: 2px;
}
.order-product-details {
    cursor: default;
}
.order-product-details-add{
    .col-md-3:first-child .input-wrap {
        margin-left: 8px !important;
        width: calc(100% - 8px);
    }
    label{
        width:100%;
        float:left;
    }
    .input-wrap {
        float: left;
        width: 100%;
        margin-top: 24px;
        .form-control {
            margin-top: 0px !important;
        }
    }
    button.md-datepicker-button {
        height: 36px !important;
        padding-top: 6px !important;
        float:left;
    }
    
    button.md-datepicker-button.md-icon-button.md-button.md-ink-ripple {
        padding-top: 6px !important;
        float: left;
    }
    
    .md-datepicker-input-container {
        float: left;
        height: 36px;
        line-height: 33px;
    }
    
    button.md-datepicker-triangle-button.md-icon-button.md-button {
        margin-top: 8px;
    }
    md-datepicker{ input{ pointer-events:none; } }
    
}
.md-datepicker-input-mask{
    display:none !important;
}
#add-order{
    display:none;
}
#add-order  .col-md-4:first-child input{
    margin-left: 8px !important;
    width: calc(100% - 8px);
}

.order-product-details-header .header-inner {
    padding: 15px 8px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    background-color: rgba(218, 218, 218, 0.77);
}
.order-product-details-item .item-row-inner{
    border-bottom:2px solid #d9d9d9;
    background:#fff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:9px 7px 8px;
    .item-amount{
        font-weight:bold;
    }
}

.order-product-details-add{
    .form-inner{
        padding:12px 7px;
        background-color: rgba(226, 226, 226, 0.5);
        input.form-control {
            border-radius: 2px;
            border: solid 1px #c4c4c4;
            box-shadow: inset -1px -1px 2px 0 rgba(118, 118, 118, 0.25);
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            height: 36px;
            margin:0px;
        }
        
        
    }
}
.order-header-actions, .add-actions-wrap {
    width: auto;
    float: right;
    .btn-save {
        width: 174px;
        height: 36px;
        border-radius: 2px;
        background: #27ae60 !important;
        color: #fff;
        border: none;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        img {
            margin-right: 6px;
            margin-top: -1px;
            margin-bottom: 2px;
        }
    }
    .btn-cancel {
        width: 36px;
        height: 36px;
        border-radius: 2px;
        background: #c21414 !important;
        color: #fff;
        border: none;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }
    
    .btn-default {
        padding: 0px;
        text-align: center;
        line-height: 16px;
    }
    
    .btn-default:hover {
        color: #fff;
    }
}

.form-wrap, .label-quantity, #main-action-wrap {
    padding-top: 36px;
    label.control-label {
        width: 100%;
        float: left;
        text-align: left !important;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #222222;
        margin-bottom:8px;
        padding-top:0px;
        &.nolabel{
            height:19px;
        }
    }
    .photo-wrap {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        width: 100%;
        float: left;
        border-radius:  10px;
        overflow: hidden;
        .btn {
            width: 100%;
            float: left;
            border: none;
            background-color: #dcd51e;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            border-radius: 0px;
            padding: 12px 0px;
        }
    }
    .form-row{
        margin-bottom:24px;
    }
    a.photo-link {
        width: 100%;
        float: left;
        img {
            width: 100%;
            float: left;
            height: auto;
        }
    }
    input.form-control {
        border-radius: 2px;
        box-shadow: inset -1px -1px 2px 0 rgba(118, 118, 118, 0.25);
        background-color: #ffffff;
        border: solid 1px #c4c4c4;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        height: 48px;
    }
    .btn-tech-sheet {
        height: 48px;
        border-radius: 2px;
        background: #2755ae !important;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
    
    button.btn-cancel {
        height: 48px;
        width: 100%;
        text-align: center;
        border-radius: 2px;
        background-color: #c21414;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        border: 0px;
    }

    button.btn-remove {
        height: 48px;
        width: 100%;
        text-align: center;
        border-radius: 2px;
        background-color: #DCD51E;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        border: 0px;
        img {
            margin-top: -3px;
        }
    }
    
    button.btn-save {
        height: 48px;
        width: 100%;
        text-align: center;
        border-radius: 2px;
        background-color: #27ae60;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        border: 0px;
        width: 100%;
    }
    button img{
        margin-right:6px;
    }
    .button-holder {
        padding-top: 12px;
    }
}

button.btn-copy{
    background-color:#826B6B !important;
}

.btn-datepicker{
    padding:3px;
    float: left;
    margin-left: -40px;
    margin-top: 12px;
    height: 36px;
    border-radius: 2px;
    width: 40px;
    background-color: transparent;
    border-left: 1px solid lightgray;
}

#image-edit-wrap{
    button.btn-cancel {
        height: 48px;
        width: 100%;
        text-align: center;
        border-radius: 2px;
        background-color: #c21414;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        border: 0px;
    }
    
    button.btn-save {
        height: 48px;
        width: 100%;
        text-align: center;
        border-radius: 2px;
        background-color: #27ae60;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        border: 0px;
        width: 100%;
    }
    button img{
        margin-right:6px;
    }
    .button-holder {
        padding-top: 12px;
    }
}

.modal{
    button.btn-cancel, button.btn-save{
        max-width:170px;
        &:first-child{
            margin-right:30px;
        }
    }
    button.btn-cancel {
        height: 48px;
        width: 100%;
        text-align: center;
        border-radius: 2px;
        background-color: #c21414;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        border: 0px;
    }
    
    button.btn-save {
        height: 48px;
        width: 100%;
        text-align: center;
        border-radius: 2px;
        background-color: #27ae60;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        border: 0px;
        width: 100%;
    }
    button img{
        margin-right:6px;
    }
    button.close {
        color: #fff;
        background: #000;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        text-align: center;
        line-height: 20px;
        opacity: 1;
        img {
            margin: 0 auto;
        }
    }
    .modal-header, .modal-footer{
        border: 0px !important;
    }
    .warning-text{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 18px;
        color: #222222;
    }
    h4.modal-title{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 20px;
        color: #222222;
    }
    h2.modal-subtitle{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 28px;
        color: #222222;
    }
}

.modal-generic{
    h2.modal-subtitle{
        font-size: 24px;
        padding-top: 36px;
        padding-bottom: 12px;
        line-height: 1.4;
    }
    button.btn-cancel{
        margin-right:0px !important;

    }
}

.header-label-checkbox, .item-label-checkbox{
    max-width:40px;
}

.label-header-item {
    line-height: 2 !important;
}

.header-label-name, .header-label-qty {
    line-height:  1 !important;
}

.header-label-innerref, .header-label-quantity, .header-label-value, .header-label-clientref, .header-label-workername  {
    line-height: 1.2 !important;
}
div[ng-table="dailyProductionTable"], div[ng-table="dailyPaintTable"]{
    .label-header-item{
        line-height:2 !important;
    }
    .header-label-innerref, .header-label-quantity, .header-label-value{
        line-height: 1.2 !important;
    }
}

div[ng-controller="PalletesController"] div[ng-table="dailyProductionTable"]{
    .label-header-item{
        line-height:2 !important;
    }
    .header-label-clientref, .header-label-innerref, .header-label-total-painted, .header-label-value{
        line-height: 1.2 !important;
    }
}

div[ng-controller="OverProductionController"] div[ng-table="dailyProductionTable"]{
    .inner-wrap .label-header-item{
        line-height:2 !important;
    }
}
.label-header-item:first-child {
    text-indent: 8px;
}

.header-label-client-ref, .header-label-inner-ref, .header-label-amount, .header-label-checkbox, .header-label-boxes-amount, .header-label-box-size {
    line-height:1 !important;
}

.header-label-checkbox .checkbox-wrap {
    margin-top: -12px;
    position: absolute;
}

#btn-clear-order{
    display:none;
}

.fechado_na_encomenda{
    #btn-clear-order{
        display:block;
    }
}

.em_pintura {
    .item-inner-wrap{
        background-color: #D9FED6;
        .table-item {
            color: #158B47 !important;
        }
        #btn-close-production{
            display:none;
        }
    }
    .ptype-toggle.prod{
        display:none;
    }
}
.em_producao{
    .item-inner-wrap{
        #btn-close-paint{
            display:none;
        }
    }
    .ptype-toggle.paint{
        display:none;
    }
    
}
.item-label-date.short{
    padding-right:60px;
}
.short{
    .item-order-actions {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-12px);
    }
}

.fechado_na_encomenda {
    .item-inner-wrap{
        background-color: #EEEBEB;
        .table-item {
            color: rgba(0,0,0,0.5) !important;
        }
        #btn-close-production,  #btn-close-paint{
            display:none;
        }
    }
    .ptype-toggle.paint{
        display:none;
    }
}

.checkbox-wrap{
    position:relative;
    input.special-checkbox, .checkbox-all{
        opacity: 0;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 0px;
        left: 12px;
        width: 24px;
        height: 24px;
        z-index: 1;
    }
    span.checkbox-item{
        width:24px;
        height:24px;
        position:relative;
        background-image:url(../assets/icons/checkbox.png);
        background-size:24px;
        background-position: 0px 0px;
        position:absolute;
    }
    input.special-checkbox:checked ~ span.checkbox-item, input.checkbox-all:checked ~ span.checkbox-item{
        background-position: 0px 24px;
    }
}

.form-heading-wrap {
    padding: 24px 0px 0px;
    ul.toggle-wrap {
        padding: 0px;
        border-bottom: 1px solid #c4c4c4;
        li.toggle-item {
            list-style-type:  none;
        }
        a.toggle-button {
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #222222;
            opacity: 0.75;
            text-align: center;
            width:  100%;
            float: left;
            padding: 3px 0px 7px;
            cursor: pointer;
            &.active{
                opacity:1;
                padding: 3px 0px;
                border-bottom: 4px solid #222;
            }
        }
    }
}

#conf-boxes-wrap, .configurations-panel{
    display:none;
    h4.block-title {
        margin-top: 12px;
        font-weight: 500;
        line-height: normal;
        font-size: 20px;
        color: #222222;
    }
}
.toggle-panel{
    display:none;
    &.active{
        display:block;
    }
}
.form-boxes-wrap .form-input-item {
    margin-bottom: 24px;
}
.btn-margin{
    margin-top:12px;
}

.panel-title, .panel-description{
    width:100%;
    float:left;
}
h5.block-heading-subtitle {
    margin-top: 12px;
    margin-bottom: 0px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #222222;
    border-color: #222222;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #222222;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #222222;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.item-inner-wrap ~ .order-product-details{
    display:none;
}

.item-inner-wrap.expanded ~ .order-product-details{
    display:block;
}

#conf-notification {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 1px solid #dedede;
    padding: 24px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #dedede;
    font-weight: bold;
    color: #222;
    display:none;
    opacity:0;
    transition:all 0.6s ease-in-out;
    &.active{
        display:block;
        opacity:1;
        transition:all 0.3s ease-in-out;
        animation-name: activate-border;
        animation-duration:1s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

@keyframes activate-border{
    0%{
        border-color:#dedede;
    }
    25%{
        border-color:rgb(41, 151, 19);
    }
    50%{
        border-color:#dedede;
    }
    75%{
        border-color:rgb(41, 151, 19);
    }
    100%{
        border-color:#dedede;
    }
}

.label-left {
    max-width: 50%;
    float: left;
    padding-right: 20px;
    .label-quantity {
        padding-top: 22px;
    }
}

#box-label-print{
    padding-top:36px;
}

img.label-detail {
    max-width: 100%;
}

.label-right {
    max-width: 50%;
    float: left;
}

.label-bottom {
    width: 100%;
    float: left;
}

.label-wrap {
    width: 100%;
    float: left;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
    background: #E5E1E1;
}

.label-button{
    button.btn-save {
        height: 48px;
        width: 100%;
        text-align: center;
        border-radius: 2px;
        background-color: #27ae60;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        border: 0px;
        width: 100%;
        max-width:50%;
    }
    button img{
        margin-right:6px;
    }
}

.label-title {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    color: #222222;
}
.label-options {
    padding-top: 12px;
    padding-bottom: 24px;
    label {
        margin-left: 29px;
        line-height: 26px;
        cursor: pointer;
    }
}

.modal-body .ng-binding {
    margin-bottom: 32px;
    padding:0px 32px;
}

.modal-body .ng-binding table{

    display:table;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:4px;
}

thead tr th {
    background: #dedede;
    padding: 12px 12px;
    font-size:16px;
    color:#222;
}

.item-button-action {
    text-align: right;
    a {
        margin-right: 15px !important;
    }
    
}

.col-md-one-half{
    width:calc(8.33333333% * 1.5);
}

.item-filho {
    .item-inner-wrap{
        position: relative;
        padding-left: 12px;
        > div:first-child {
            margin-right: -12px;
        }
        &:before{
            position: absolute;
            content: '';
            height: 50%;
            top: 0%;
            left: 25px;
            width: 10px;
            border: 2px solid #fff;
            border-top: 0px;
            border-right: 0px;
            z-index:1;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0px;
            left: 5px;
            height: 100%;
            background-color: rgba(39, 85, 174,0.8);
            width: 30px;
            box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.25);
        }
    }
    .item-order-state {
        padding-right: 3px;
    }
}

a.btn-remove-order {
    float: right;
    margin-right: 15px !important;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 62px;
}

.model-w-table{
    h4.modal-title {
        padding: 12px 32px 0px;
    }
}

.modal{
    thead tr th:first-child {
        border-top-left-radius: 4px;
    }
    
    thead tr th:last-child {
        border-top-right-radius: 4px;
    }
    
    tbody tr td{
        padding:12px 12px 14px;
        font-size:16px;
    }
}

.item-action{
    display:flex;
    justify-content: center;
}

.table-heading-before {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 24px;
}

.header-client-id{
    text-indent:6px;
}

.home-block{
    .header-label-customer-id, .header-label-own-id {
        line-height: 1 !important;
    }
    .table-item {
        line-height: 1.2;
        font-size: 14px;
    }
}


@media screen and (max-width:1024px){
    .nav-toggle{
        display:block;
    }
    #menu-toggle{
        display:block;
        margin-left:0px;
        transition: all 0.3s;
    }
    #main-header{
        width:100%;
        h1.main-title{
            padding-left:60px;
        }
        &.active-nav{
            .nav-toggle{
                margin-left:180px;
                transition: all 0.3s;
            }
            h1.main-title{
                padding-left: 240px;
                transition: all 0.3s;
            }
        }
    }
    #sidebar{
        position: fixed;
        height: 100vh;
        z-index: 10;
        left:-180px;
        transition: all 0.3s;
        &.active{
            left:0px;
            transition: all 0.3s;
        }
    }
    #content{
        padding-left:0px;
    }
}