<div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Pretende mesmo fechar o produto </h4>
          <h2 class="modal-title">{{productname}} em Pintura ?</h2>
        </div>
        <!--div class="modal-body">
          <p>{{productname}}</p>
        </div-->
        <div class="modal-footer">
          <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Não</button>
          <button type="button" ng-click="yes()" class="btn btn-default" data-dismiss="modal">Sim</button>
        </div>
      </div>
    </div>
  </div>