<div class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
  
          <form class="form-horizontal" role="form">
            <div class="form-group">
                  <label for="orderid" class="col-sm-3 control-label">Numero Encomenda</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="orderid" placeholder="Numero da Encomenda" ng-model="orderid">
                  </div>
            </div>
            <div class="form-group">
                  <label for="clientname" class="col-sm-3 control-label">Nome do Cliente</label>
                  <div class="col-sm-6">
                    <!--input type="text" class="form-control" id="clientname" placeholder="Nome do Cliente" ng-model="clientname"-->
                    <input type="text" class="form-control"  placeholder="Nome do Cliente" ng-model="clientname"  uib-typeahead="client as client.ClientName for client in clients | filter:$viewValue | limitTo:8" ng-style="{'z-index': 1050 + index*10, display: 'block'}" />
                </div>
            </div>
            <div class="form-group">
                  <label for="qtyencomenda" class="col-sm-3 control-label">Produtos Encomendados</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="qtyencomenda" placeholder="Total de produtos da encomenda" ng-model="qtyencomenda">
                  </div>
            </div>
            <div class="form-group">
                  <label for="qtyproduzida" class="col-sm-3 control-label">Produtos Produzidos</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="qtyproduzida" placeholder="Quantidade produtos produzidos" ng-model="qtyproduzida">
                  </div>
            </div>
          </form>
  
      </div>
      <div class="modal-footer">
        <button type="submit" ng-click="close()" data-dismiss="modal" class="btn btn-default btn-cancel"><img src="assets/icons/cancel-symbol.svg" width="16px" height="16px" />Cancelar</button>           
        <button type="submit" ng-click="yes()" data-dismiss="modal" class="btn btn-default btn-save"><img src="assets/icons/symbol-sucess.svg" width="18px" height="14px" />Aceitar</button>
      </div>
      </div>
    </div>
  </div>