<div id="modal-overprod" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content modal-w-table">
        <div class="modal-header">
          <span class="warning-text"><img src="assets/icons/warning-yellow.svg" width="28px" height="28px" /> Aviso</span>
          <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true"><img src="assets/icons/cancel-symbol.svg" width="16px" height="16px" /></button>
            <h4 class="modal-title">{{message}}</h4>
        </div>
        
        <div class="modal-body">
            <!--h2 class="modal-subtitle">{{message}}</h2-->
            <div ng-table="dailyProductionTable" id="order-table" class="col-md-12">
                <div class="label-table-wrap">
                    <div class="label-table-header row">
                        <div class="inner-wrap">
                            <div class="col-md-2 label-header-item header-label-innerref">Num. Enco.</div>
                            <div class="col-md-2 label-header-item header-label-prodname">Ref Cliente</div>
                            <div class="col-md-2 label-header-item header-label-quantity-order">Qt. Encomenda</div>
                            <div class="col-md-2 label-header-item header-label-quantity-produces">Qt. Produzida</div>
                            <div class="col-md-2 label-header-item header-label-quantity-to-register">Qt. a associar</div>
                        </div>
                    </div>
                    <div class="order-labels-content row">
                        <div class="col-md-12">
                            <div class="scroll-table">
                                <div class="row">                            
                                    <div class="col-md-12" ng-repeat="order in orders">
                                        <div class="row">
                                            <div class="item-inner-wrap">
                                                <div class="col-md-2 table-item item-label-innerref">{{order.ORDER_ID}}</div>
                                                <div class="col-md-2 table-item item-label-prodname">{{order.CUSTOMER_PRODUCT_ID}}</div>
                                                <div class="col-md-2 table-item item-label-quantity">{{order.TOTAL_QUANTITY_ORDERED}}</div>
                                                <div class="col-md-2 table-item item-label-workername"><strong>{{order.TOTAL_PRODUCTS_PRODUCED}}</strong></div>
                                                <div class="col-md-1 table-item item-label-workername"><strong>{{order.QUANTITY_TO_REGISTER}}</strong></div>
                                                <div class="col-md-3 table-item item-action">
                                                    <div class="item-order-actions">
                                                        <button id="associate-order" type="submit" ng-click="registerOverProductionInOrder(order.UNIQUE_ORDER_ID, order.ORDER_ID, order.INTERNAL_PRODUCT_ID, order.CUSTOMER_PRODUCT_ID, order.PRODUCT_NAME, order.UNIQUE_ORDER_ID, order.TOTAL_QUANTITY_ORDERED, order.TOTAL_PRODUCTS_PRODUCED, order.QUANTITY_TO_REGISTER)" data-toggle="tooltip" title="Remover Produto" class="btn btn-default btn-save"><img src="assets/icons/btn-add.svg" width="16px" height="16px">Associar</button>

                                                        <!-- <a class="btn btn-sm btn-danger" >
                                                            <img src="assets/icons/btn-success.svg" width="24px" height="24px" />
                                                        </a> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="yes()" data-dismiss="modal" class="btn btn-default btn-save" style="background-color:darkgray;">Fechar</button>
            </div>
        </div>
    </div>
</div>