<div class="wrap" ng-controller="createTechSheet">
  <div id="actions">
      <div class="row">
          <div class="col-md-12">
              <div class="header-actions">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="row">
                              <div class="button-wrap col-md-4">
                                  <button class="inset-button button add disabled">
                                      <span class="button-inner-wrap">
                                          <img src="assets/icons/btn-add.svg" width="20px" height="20px">
                                          <span class="btn-text">Adicionar</span>
                                      </span>
                                  </button>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="row">
                              <div class="col-md-6 vert-spacer"></div>
                              <div class="col-md-6">
                                  <div class="search-wrap">
                                      <input type="text" name="Pesquisa" ng-model="searchChar" placeholder=" Pesquisar">  
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="form-heading-wrap">
    <div class="row">
      <div class="col-md-12">
        <ul id="tech-sheet-tabs" class="toggle-wrap">
          <div class="row">
            <li class="toggle-item col-md-2">
              <a class="toggle-button active" data-target="#product-edit-sheet">Produção</a>
            </li>
            <li class="toggle-item col-md-2">
              <a class="toggle-button" data-target="#paint-edit-sheet">Pintura</a>
            </li>
            <li class="toggle-item col-md-2">
              <a class="toggle-button" data-target="#packaging-edit-sheet">Embalagem</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-wrap">
      <div class="row">
        <form class="col-md-12" id="printSectionId" role="form">
          <!-- FICHA TÉCNICA PRODUÇÃO-->
          <div class="toggle-panel inner-form-wrap row active" id="product-edit-sheet">
            <div class="col-md-12 form-row">
              <div class="row">
                  <div class="col-md-3 form-input-item">
                      <label class="control-label" for="rawMaterial">Matéria Prima</label>
                      <div class="input-wrap-inner">
                      <input type="text" class="form-control" id="rawMaterial" placeholder="Matéria Prima" ng-model="rawMaterial">
                      </div>                  
                  </div>
                  <div class="col-md-3 form-input-item">
                      <label class="control-label" for="rawMaterialExtra">Matéria Prima</label>
                      <div class="input-wrap-inner">
                      <input type="text" class="form-control" id="rawMaterialExtra" placeholder="Matéria Prima Adicional" ng-model="rawMaterialExtra">
                      </div>                  
                  </div>
                  <div class="col-md-3 form-input-item">
                      <label class="control-label" for="dimensionsInWet">Dimensões Pré-Secagem</label>
                      <div class="input-wrap-inner">
                      <input type="text" class="form-control" id="dimensionsInWet" placeholder="Dimensões" ng-model="dimensionsInWet">
                      </div>                  
                  </div>
                  <div class="col-md-3 form-input-item">
                      <label class="control-label" for="productWeight">Peso</label>
                      <div class="input-wrap-inner">
                      <input type="text" class="form-control" id="productWeight" placeholder="Peso" ng-model="productWeight">
                      </div>                  
                  </div>
              </div>                
            </div>
            <div class="col-md-12 form-row">
                <div class="row">
                    <div class="col-md-3 form-input-item">
                        <label class="control-label" for="productHeight">Altura Peça</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="productHeight" placeholder="Altura" ng-model="productHeight">
                        </div>                  
                    </div>
                    <div class="col-md-3 form-input-item">
                        <label class="control-label" for="productWidth">Largura Peça</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="productWidth" placeholder="Largura" ng-model="productWidth">
                        </div>                  
                    </div>
                    <div class="col-md-3 form-input-item">
                        <label class="control-label" for="topWidth">Topo Peça</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="topWidth" placeholder="Largura Topo Peça" ng-model="topWidth">
                        </div>                  
                    </div>
                    <div class="col-md-3 form-input-item">
                        <label class="control-label" for="bottomWidth">Fundo Peça</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="bottomWidth" placeholder="Largura Fundo Peça" ng-model="bottomWidth">
                        </div>                  
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-row">
                <div class="row">
                    <div class="col-md-3 form-input-item">
                        <label class="control-label" for="relief">Relevo</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="relief" placeholder="Relevo" ng-model="relief">
                        </div>                  
                    </div>
                    <div class="col-md-3 form-input-item">
                        <label class="control-label" for="sponge">Esponja</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="sponge" placeholder="Esponja" ng-model="sponge">
                        </div>                  
                    </div>
                    <div class="col-md-3 form-input-item">
                        <label class="control-label" for="cooking">Cozedura</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="cooking" placeholder="Cozedura" ng-model="cooking">
                        </div>                  
                    </div>
                    <div class="col-md-3 form-input-item">
                        <label class="control-label" for="cookingTemperature">Temperatura Cozedura</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="cookingTemperature" placeholder="Temperatura Cozedura" ng-model="cookingTemperature">
                        </div>                  
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-row">
              <div class="row">
                  <div class="col-md-6 form-input-item">
                      <label class="control-label" for="finalObservations">Observações Finais</label>
                      <div class="input-wrap-inner">
                        <textarea rows="6" class="form-control" id="finalObservations" placeholder="Observações Finais" ng-model="finalObservations"></textarea>
                      </div>                  
                  </div>
              </div>
            </div>
            <!-- FICHA TÉCNICA PINTURA-->
          </div>
          <div class="toggle-panel inner-form-wrap row" id="paint-edit-sheet">
            <div class="col-md-12 form-row">
                <div class="row">
                    <div class="col-md-2 form-input-item">
                        <label class="control-label" for="paintedCold">Pintado a frio</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="paintedCold" placeholder="Pintado a frio" ng-model="paintedCold">
                        </div>                  
                    </div>
                    <div class="col-md-2 form-input-item">
                        <label class="control-label" for="refPaintQty">Quantidade Tinta</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="refPaintQty" placeholder="Quantidade Referência Tinta" ng-model="refPaintQty">
                        </div>                  
                    </div>
                    <div class="col-md-2 form-input-item">
                        <label class="control-label" for="refPaintSmokedQty">Quantidade Patine</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="refPaintSmokedQty" placeholder="Referência Tinta Patine" ng-model="refPaintSmokedQty">
                        </div>                  
                    </div>
                    <div class="col-md-2 form-input-item">
                        <label class="control-label" for="glassed">Vidrado</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="glassed" placeholder="Vidrado" ng-model="glassed">
                        </div>                  
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-row">
                <div class="row">
                    <div class="col-md-3 form-input-item">
                        <label class="control-label" for="refPaint">Referência Tinta</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="refPaint" placeholder="Referência Tinta" ng-model="refPaint">
                        </div>                  
                    </div>
                    <div class="col-md-3 form-input-item">
                        <label class="control-label" for="refPaintSmoked">Referência Patine</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="refPaintSmoked" placeholder="Referência Tinta Patine" ng-model="refPaintSmoked">
                        </div>                  
                    </div>
                    <div class="col-md-3 form-input-item">
                        <label class="control-label" for="refGlassed">Referência Vidrado</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="refGlassed" placeholder="Referência Vidrado" ng-model="refGlassed">
                        </div>                  
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-row">
                <div class="row">
                    <div class="col-md-6 form-input-item">
                        <label class="control-label" for="finishTypeObs">Observações Tipo de Acabamento</label>
                        <div class="input-wrap-inner">
                          <textarea rows="6" class="form-control" id="finishTypeObs" placeholder="Tipo de Acabamento Observações" ng-model="finishTypeObs"></textarea>
                        </div>                  
                    </div>
                </div>
            </div>
              
          </div>
          <div class="toggle-panel inner-form-wrap row" id="packaging-edit-sheet">
              <div class="col-md-12 form-row">
                  <div class="row">
                      <div class="col-md-3 form-input-item">
                          <label class="control-label" for="barCodeTechSheet">Código de Barras</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="barCodeTechSheet" placeholder="Código de Barras" ng-model="barCodeTechSheet">
                          </div>                  
                      </div>
                      <div class="col-md-3 form-input-item">
                          <label class="control-label" for="labelWaterProof">Etiqueta Prova de Água</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="labelWaterProof" placeholder="Etiqueta Prova de água" ng-model="labelWaterProof">
                          </div>                  
                      </div>
                      <div class="col-md-2 form-input-item">
                          <label class="control-label" for="felts">Feltros</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="felts" placeholder="Feltros" ng-model="felts">
                          </div>                  
                      </div>
                  </div>
              </div>
              <div class="col-md-12 form-row">
                  <div class="row">
                      <div class="col-md-2 form-input-item">
                          <label class="control-label" for="feltsQty">Quantidade Feltros</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="feltsQty" placeholder="Quantidade Feltros" ng-model="feltsQty">
                          </div>                  
                      </div>
                      <div class="col-md-1 form-input-item">
                          <label class="control-label" for="bag">Saco</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="bag" placeholder="Saco" ng-model="bag">
                          </div>                  
                      </div>
                      <div class="col-md-2 form-input-item">
                          <label class="control-label" for="bagSize">Tamanho Saco</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="bagSize" placeholder="Tamanho Saco" ng-model="bagSize">
                          </div>                  
                      </div>
                      <div class="col-md-2 form-input-item">
                          <label class="control-label" for="boxMeasures">Medidas de Caixa</label>
                          <div class="input-wrap-inner">
                            <input type="text" autocomplete="off" class="form-control" id="boxMeasures" placeholder="Medidas de Caixa" ng-model="boxMeasures" uib-typeahead="box as box.MEASURES for box in boxSize | filter:$viewValue | limitTo:8" ng-style="{'z-index': 1050 + index*10, display: 'block'}" typeahead-editable="false">
                          </div>                  
                      </div>
                      <div class="col-md-1 form-input-item">
                          <label class="control-label" for="boxId">ID Caixa</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="boxId" placeholder="ID Caixa" ng-model="boxId" uib-typeahead="box as box.ID for box in boxSize | filter:$viewValue | limitTo:8" ng-style="{'z-index': 1050 + index*10, display: 'block'}" typeahead-editable="false">
                          </div>                  
                      </div>
                  </div>
              </div>
              <div class="col-md-12 form-row">
                  <div class="row">
                      <div class="col-md-2 form-input-item">
                          <label class="control-label" for="qtyByBox">Quantidade por caixa</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="qtyByBox" placeholder="Quantidade por caixa" ng-model="qtyByBox">
                          </div>                  
                      </div>
                      <div class="col-md-3 form-input-item">
                          <label class="control-label" for="qtyByPallet">Quantidade por Palete</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="qtyByPallet" placeholder="Quantidade por palete" ng-model="qtyByPallet">
                          </div>                  
                      </div>
                      <div class="col-md-3 form-input-item">
                        <label class="control-label" for="qtyByPalletComp">Qtd. Palete Produto Composto</label>
                        <div class="input-wrap-inner">
                          <input type="text" class="form-control" id="qtyByPalletComp" placeholder="Qtd. Palete Produto Composto" ng-model="qtyByPallet">
                        </div>                  
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 form-row">
                    <div class="row">
                      <div class="col-md-5 form-input-item">
                          <label class="control-label" for="dispositionByRow">Disposição por Fiada</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="dispositionByRow" placeholder="Disposição por fiada" ng-model="dispositionByRow">
                          </div>                  
                      </div>
                  </div>
              </div>
              <div class="col-md-12 form-row">
                  <div class="row">
                      <div class="col-md-6 form-input-item">
                          <label class="control-label" for="finalObservations">Observações Finais</label>
                          <div class="input-wrap-inner">
                            <textarea rows="6" class="form-control" id="finalObservations" placeholder="Observações Finais" ng-model="finalObservations"></textarea>
                          </div>                  
                      </div>
                  </div>
              </div>
          </div>
        </form>  
        <div class="col-md-12 button-holder">
            <div class="row">
                <div class="col-md-2">
                <button type="submit" ng-click="back()" class="btn btn-default btn-cancel"><img src="assets/icons/cancel-symbol.svg" width="16px" height="16px" />Cancelar</button>
                </div>
                <div class="col-md-2">
                <button type="submit" ng-click="saveTechSheet()" class="btn btn-default btn-save"><img src="assets/icons/symbol-sucess.svg" width="18px" height="14px" />Guardar</button>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <button type="submit" ng-click="printTechnicalSheet('printSectionId')" class="btn btn-default btn-tech-sheet"><img src="assets/icons/btn-print.svg" width="20px" height="18px" />Imprimir Folha Produção</button>
                </div>
            </div>
        </div>
  </div>
</div>