<div class="wrap" ng-controller="editproducts">
    <div id="actions">
      <div class="row">
          <div class="col-md-12">
              <div class="header-actions">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="row">
                              <div class="button-wrap col-md-4">
                                  <button class="inset-button button add disabled">
                                      <span class="button-inner-wrap">
                                          <img src="assets/icons/btn-add.svg" width="20px" height="20px">
                                          <span class="btn-text">Adicionar</span>
                                      </span>
                                  </button>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="row">
                              <div class="col-md-6 vert-spacer"></div>
                              <div class="col-md-6">
                                  <div class="search-wrap">
                                      <input type="text" name="Pesquisa" ng-model="searchChar" placeholder=" Pesquisar">  
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="form-wrap">
        <div class="row">
            <form class="form-horizontal form-edit col-md-12" id="product-edit-form">
            <div class="form-group row">
                <div class="form-photo col-md-3">
                <div class="form-item-inner">
                    <label class="control-label">Imagem</label>
                    <div class="photo-wrap">
                    <a class="photo-link" ng-href="{{image}}" target="_blank">
                        <img ng-src={{image}} height="270" width="270">
                    </a>
                    <a class="btn btn-warning pull-left" ng-click="editImage()"><img src="assets/icons/symbol-edit.svg" width="18px" height="18px">Alterar Imagem<i></i></a>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 form-row">
                    <div class="row">
                        <div class="form-input-item col-md-6">
                            <label class="control-label" for="productId">Referência Interna</label>
                            <div class="input-wrap-inner">
                            <input required type="text" class="form-control" id="productId" name="productId" placeholder="Referência Produto" ng-model="productId" name="internal-reference">
                            </div>
                        </div>
                        <div class="form-input-item col-md-6">
                            <label class="control-label" for="customerProductId">Referência Cliente</label>
                            <div class="input-wrap-inner">
                            <input required type="text" class="form-control" id="customerProductId" name="customerProductId" placeholder="Referência Produto" ng-model="customerProductId">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-12 form-row">
                        <div class="row">
                            <div class="form-input-item col-md-6">
                                <label class="control-label" for="clientname">Cliente</label>
                                <div class="input-wrap-inner">
                                <input required type="text" autocomplete="off" class="form-control" id="clientname" name="clientname" placeholder="Nome Cliente" ng-model="clientname" uib-typeahead="client as client.CLIENT_NAME for client in clients | filter:$viewValue | limitTo:8" ng-style="{'z-index': 1050 + index*10, display: 'block'}" typeahead-editable="false">
                                </div>
                            </div>
                            <div class="form-input-item col-md-6">
                                <label class="control-label" for="productName">Nome</label>
                                <div class="input-wrap-inner">
                                <input required type="text" class="form-control" id="productName" name="productName" placeholder="Nome do Produto" ng-model="productName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-row">
                        <div class="row">
                            <div class="form-input-item col-md-6">
                                <label class="control-label" for="nameInTheLabel">Nome Etiqueta</label>
                                <div class="input-wrap-inner">
                                    <input maxlength="24" type="text" class="form-control" id="nameInTheLabel" name="nameInTheLabel" placeholder="Nome artigo Etiqueta" ng-model="nameInTheLabel">
                                </div>
                            </div>
                            <div class="form-input-item col-md-6">
                                <label class="control-label" for="preco1">Preço 1</label>
                                <div class="input-wrap-inner">
                                <input type="text" class="form-control" id="preco1" placeholder="Preço 1" ng-model="preco1">
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-md-12 form-row">
                        <div class="row">
                            <div class="form-input-item col-md-6">
                                <label class="control-label" for="preco2">Preço 2</label>
                                <div class="input-wrap-inner">
                                    <input type="text" class="form-control" id="preco2" placeholder="Preço 2" ng-model="preco2">
                                </div>
                            </div>
                            <div class="form-input-item col-md-6">
                                <label class="control-label" for="barCode">Código de Barras</label>
                                <div class="input-wrap-inner">
                                <input type="text" class="form-control" id="barCode" placeholder="Número do código de Barras" ng-model="barCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-row">
                        <div class="row">
                            <div class="form-input-item col-md-12">
                                <label class="control-label nolabel"></label>
                                <div class="input-wrap-inner">
                                    <button type="submit" ng-show="techSheetExist == true" ng-click="editTechnicalSheet()" class="btn btn-default btn-tech-sheet"><img src="assets/icons/btn-add.svg" width="20px" height="20px">Editar Ficha Técnica</button> 
                                    <button type="submit" ng-show="techSheetExist != true" ng-click="createTechnicalSheet()" class="btn btn-default btn-tech-sheet"><img src="assets/icons/btn-add.svg" width="20px" height="20px">Criar Ficha Técnica</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 button-holder">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" ng-click="goBack()" class="btn btn-default btn-remove"><img src="assets/icons/remove.svg" width="14px" height="18px" />Remover</button>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" ng-click="cloneProduct(customerProductId)" class="btn btn-default btn-cancel btn-copy"><img src="assets/icons/symbol-copy.svg" width="16px" height="16px" />Copiar</button>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" ng-click="back()" class="btn btn-default btn-cancel"><img src="assets/icons/cancel-symbol.svg" width="16px" height="16px" />Cancelar</button>
                            </div>                            
                            <div class="col-md-3">
                                <button type="submit" name="product-edit-btn" id="product-edit-btn" ng-click="submit()" class="btn btn-default btn-save"><img src="assets/icons/symbol-sucess.svg" width="18px" height="14px" />Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </form>  
        </div>
    </div>
</div>