<div id="employee-stats" class="chart-page row"  ng-controller="employeeRegistryStatisticsController">
    <div id="employee-chart" class="col-md-12">
        <div class="home-block">
            <div class="block-heading">
                <div class="panel-title">
                    <h2 class="block-heading-title">Estatísticas de Produção de Funcionários</h2>
                </div>
                <!-- <div class="panel-description">
                    <h5 class="block-heading-subtitle">Quantidade Produzida/Valor em EUR nos últimos 7 dias de produção
                    </h5>
                </div>   -->              
            </div>
            <div class="graph-filter">
                <div class="row">
                <div class="col-md-3">
                    <div class="input-wrap">
                    <label class="control-label" for="deliverDate">Data Início</label>
                    <!--md-datepicker class="delivery-date" name="deliverDate" ng-model="deliverDate" md-current-view="year" md-placeholder="Enter date" is-open="isOpen" ng-keydown="$event.preventDefault(); isOpen = true;">
                    </md-datepicker-->
                        <input type="text" class="form-control deliver-date" uib-datepicker-popup="{{format}}" ng-model="beginDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" close-text="Fechar" clear-text="Limpar" current-text="Hoje" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-datepicker-single" ng-click="openDateBegin()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-wrap">
                    <label class="control-label" for="deliverDate">Data Fim</label>
                    <!--md-datepicker class="delivery-date" name="deliverDate" ng-model="deliverDate" md-current-view="year" md-placeholder="Enter date" is-open="isOpen" ng-keydown="$event.preventDefault(); isOpen = true;">
                    </md-datepicker-->
                        <input type="text" class="form-control deliver-date" uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" close-text="Fechar" clear-text="Limpar" current-text="Hoje" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-datepicker-single" ng-click="openDateEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="nameemployee">Funcionário</label>

                    <input type="text" class="form-control" id="nameemployee" placeholder="Escolha Um Funcionário" ng-model="nameemployee" uib-typeahead="employee as employee.EMPLOYEE_NAME for employee in dataEmployees | filter:$viewValue | limitTo:8" ng-style="{'z-index': 1050 + index*10, display: 'block'}">
                </div>
                <div class="button-wrap col-md-3">
                    <button id="add-order-toggle" class="inset-button button add" ng-click="redrawSearch(beginDate, endDate, nameemployee)">
                        <span class="button-inner-wrap">
                            <img src="assets/icons/search.svg" width="20px" height="20px">
                            <span class="btn-text">Pesquisar</span>
                        </span>
                    </button>
                </div>
                </div>
            </div>
            <div class="row">
                <!--
        <div class="col-xs-6 col-md-6 paddingTop30Px"> 
            <canvas id="bar" class="chart chart-bar"chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colours"> 
            </canvas>   
        </div>
        -->
            <div class="col-md-12">
                <div class="chart-info">
                    <h3 class="block-heading-subtitle"><span class="highlight">{{totalProductsProduced}}</span> Artigos produzidos no valor de <span class="highlight">{{totalValueProduced}}</span> EUR</h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-12" ng-show="showEmployeeMsgSelection"> 
                <div class="canvas-wrap">
                    <h3>{{employeeSelectionMessage}}</h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-12" ng-show="employeeSelected"> 
                <div class="canvas-wrap">
                <!-- canvas id="bar" class="chart chart-bar"chart-data="data" chart-labels="labels" chart-series="series" -->
                    <canvas id="bar" class="chart chart-bar" chart-data="dataProduction3" chart-labels="productionDays"
                        chart-options="options" chart-series="seriesTest" chart-legend="true" chart-colors="colours">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
        <div class="row" ng-show="employeeSelected">
            <div class="col-md-12 pdf-button-wrap">
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="button-wrap col-md-3">
                        <button id="add-order-toggle" class="inset-button button add" ng-click="exportToPDF(nameemployee)">
                            <span class="button-inner-wrap">
                                <img src="assets/icons/btn-pdf.svg" width="20px" height="20px">
                                <span class="btn-text">Gravar PDF</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row" ng-show="employeeSelected">
            <div ng-table="dailyProductionTable" id="order-table" class="col-md-12">
                <div class="label-table-wrap">
                    <div class="label-table-header row">
                        <div class="inner-wrap">
                            <div class="col-md-3 label-header-item header-label-order">Funcionário</div>
                            <div class="col-md-3 label-header-item header-label-clientref">Data de Produção</div>
                            <div class="col-md-3 label-header-item header-label-innerref">Quantidade Produzida</div>
                            <div class="col-md-3 label-header-item header-label-prodname">Valor Produzido (EUR)</div>
                        </div>
                    </div>
                    <div class="order-labels-content row">
                        <div class="col-md-12" dir-paginate="productionData in employeDataForTable | filter:searchChar | itemsPerPage:100">
                            <div class="row">
                                <div class="item-inner-wrap">
                                    <div class="col-md-3 table-item item-label-order">{{productionData.EMPLOYEE}}</div>
                                    <div class="col-md-3 table-item item-label-clientref">{{productionData.PRODUCTION_DAY}}</div>
                                    <div class="col-md-3 table-item item-label-innerref">{{productionData.TOTAL_DAY_PRODUCTION}}</div>
                                    <div class="col-md-3 table-item item-label-prodname">{{productionData.TOTAL_DAY_VALUE_IN_EUR}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row" ng-show="employeeSelected">
            <div class="col-md-12 pdf-button-wrap">
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="button-wrap col-md-3">
                        <button id="add-order-toggle" class="inset-button button add" ng-click="exportToXLS()">
                            <span class="button-inner-wrap">
                                <img src="assets/icons/save.svg" width="20px" height="20px">
                                <span class="btn-text">Gravar Excel</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>