<div class="wrap" ng-controller="createproducts">
    <div id="actions">
        <div class="row">
            <div class="col-md-12">
                <div class="header-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="button-wrap col-md-4">
                                    <button class="inset-button button add disabled">
                                        <span class="button-inner-wrap">
                                            <img src="assets/icons/btn-add.svg" width="20px" height="20px">
                                            <span class="btn-text">Adicionar</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 vert-spacer"></div>
                                <div class="col-md-6">
                                    <div class="search-wrap">
                                        <input type="text" name="Pesquisa" ng-model="searchChar" placeholder=" Pesquisar">  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="form-wrap">
      <div class="row">
          <form class="form-horizontal form-edit col-md-12">
            <div class="form-group row">
              <div class="form-photo col-md-3">
                <div class="form-item-inner">
                    <label class="control-label">Imagem</label>
                    <div class="photo-wrap">
                    <a class="photo-link" ng-href="{{image}}" target="_blank">
                        <img ng-src={{image}} height="270" width="270">
                    </a>
                    <a class="btn btn-warning pull-left" ng-click="editarImagem()"><img src="assets/icons/symbol-edit.svg" width="18px" height="18px">Alterar Imagem<i></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12 form-row">
                    <div class="row">
                      <div class="form-input-item col-md-6">
                          <label class="control-label" for="productId">Referência Interna</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="productId" placeholder="Referência Produto" ng-model="productId">
                          </div>
                      </div>
                      <div class="form-input-item col-md-6">
                          <label class="control-label" for="customerproductId">Referência Cliente</label>
                          <div class="input-wrap-inner">
                            <input type="text" class="form-control" id="customerproductId" placeholder="Referência Produto" ng-model="customerproductId">
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 form-row">
                    <div class="row">
                      <div class="form-input-item col-md-6">
                          <label class="control-label" for="customerProductId">Cliente</label>
                          <div class="input-wrap-inner">
                          <input type="customerProductId" class="form-control" id="customerProductId" placeholder="Nome Cliente" ng-model="customerProductId">
                          </div>
                      </div>
                      <div class="form-input-item col-md-6">
                          <label class="control-label" for="productName">Nome</label>
                          <div class="input-wrap-inner">
                            <input type="productName" class="form-control" id="productName" placeholder="Nome do Produto" ng-model="productName">
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 form-row">
                    <div class="row">
                        <div class="form-input-item col-md-6">
                            <label class="control-label" for="nameInTheLabel">Nome Etiqueta</label>
                            <div class="input-wrap-inner">
                                <input type="nameInTheLabel" class="form-control" id="nameInTheLabel" placeholder="Nome artigo Etiqueta" ng-model="nameInTheLabel">
                            </div>
                        </div>
                        <div class="form-input-item col-md-6">
                            <label class="control-label" for="preco1">Preço 1</label>
                            <div class="input-wrap-inner">
                            <input type="preco1" class="form-control" id="preco1" placeholder="Preço 1" ng-model="preco1">
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-12 form-row">
                    <div class="row">
                      <div class="form-input-item col-md-6">
                          <label class="control-label" for="preco2">Preço 2</label>
                          <div class="input-wrap-inner">
                              <input type="preco2" class="form-control" id="preco2" placeholder="Preço 2" ng-model="preco2">
                          </div>
                      </div>
                      <div class="form-input-item col-md-6">
                          <label class="control-label" for="barCode">Código de Barras</label>
                          <div class="input-wrap-inner">
                            <input type="barCode" class="form-control" id="barCode" placeholder="Número do código de Barras" ng-model="barCode">
                          </div>
                      </div>
                      <div class="form-input-item col-md-6">
                          <label class="control-label nolabel"></label>
                          <div class="input-wrap-inner">
                              <button type="submit" ng-show="techSheetExist == true" ng-click="editTechnicalSheet()" class="btn btn-default btn-tech-sheet"><img src="assets/icons/btn-add.svg" width="20px" height="20px">Editar Ficha Técnica</button> 
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 button-holder">
                    <div class="row">
                      <div class="col-md-4 vert-spacer"></div>
                      <div class="col-md-4">
                        <button type="submit" ng-click="back()" class="btn btn-default btn-cancel"><img src="assets/icons/cancel-symbol.svg" width="16px" height="16px" />Cancelar</button>
                      </div>
                      <div class="col-md-4">
                        <button type="submit" ng-click="submit()" class="btn btn-default btn-save"><img src="assets/icons/symbol-sucess.svg" width="18px" height="14px" />Guardar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>  
      </div>
  </div>
</div>




<!--
<div class="container" ng-controller="createproducts">
  <div>
      <form class="form-horizontal">
        <div class="form-group">-->
          <!--div class="form-group"-->
            <!--<label class="control-label col-sm-2" for="product_id">Referência Produto:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="product_id" placeholder="Referência Produto" ng-model="product_id">
            </div>-->
          <!--/div-->
          <!--div class="form-group"-->
              <!--<label class="control-label col-sm-2" for="produtHeight">Altura Produto:</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="produtHeight" placeholder="Altura Produto" ng-model="produtHeight">
              </div>-->
          <!--/div-->
        <!--</div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="product_name">Nome Produto:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="product_name" placeholder="Nome do Produto" ng-model="product_name">
            </div>
            <label class="control-label col-sm-2" for="num_article_by_box">Artigos Por Caixa:</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="num_article_by_box" placeholder="Quantidade de artigos por caixa" ng-model="num_article_by_box">
            </div>
          </div>
          <div class="form-group">
                <label class="control-label col-sm-2" for="image_name">Nome Ficheiro:</label>
                <div class="col-sm-4">
                  <input type="image_name" class="form-control" id="image_name" placeholder="Nome do Ficheiro" ng-model="image_name">
                </div>
                <label class="control-label col-sm-2" for="name_in_the_label">Nome Etiqueta:</label>
                <div class="col-sm-4">
                  <input type="name_in_the_label" class="form-control" id="name_in_the_label" placeholder="Nome do artigo na Etiqueta" ng-model="name_in_the_label">
                </div>
          </div>
          <div class="form-group">
                  <label class="control-label col-sm-2" for="bar_code">Código de Barras:</label>
                  <div class="col-sm-4">
                    <input type="bar_code" class="form-control" id="bar_code" placeholder="Número do código de Barras" ng-model="bar_code">
                  </div>
          </div>
        </div>
          <div class="well well-sm">
            <div class="image-wrapper">
              <a ng-href="{{image}}" target="_blank">
                 <img ng-src={{image}} height="150" width="150">
              </a>
            </div>
          </div>
          <div class="well well-sm">
            <div class="form-group">
              <div class="col-sm-offset-0 col-sm-12">
                <button type="submit" ng-click="submit()" class="btn btn-default btn-success pull-left active">Adicionar Produto</button>
                <a class="btn btn-warning pull-left" ng-click="editarImagem()">Mudar Imagem<i></i></a>
                <button type="submit" ng-click="back()" class="btn btn-default btn-danger pull-right">Voltar ao menu anterior</button>
              </div>
            </div>
          </div>
      </form>  
    </div>
</div>-->