<div class="wrap" ng-controller="OverProductionController">
    <div id="actions">
        <div class="row">
            <div class="col-md-12">
                <div class="header-actions">
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 vert-spacer"></div>
                                <div class="col-md-6">
                                    <div class="search-wrap">
                                        <input type="text" name="Pesquisa" ng-model="searchChar" placeholder=" Pesquisar">  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="list-content">
        <div class="row">
            <div ng-table="dailyProductionTable" id="order-table" class="col-md-12">
                <div class="label-table-wrap">
                    <div class="label-table-header row">
                        <div class="inner-wrap">
                            <div class="col-md-2 label-header-item header-label-innerref">Ref. Interna</div>
                            <div class="col-md-2 label-header-item header-label-prodname">Nome Produto</div>
                            <div class="col-md-2 label-header-item header-label-quantity">Total Produto Pintados</div>
                            <div class="col-md-2 label-header-item header-label-workername">Nome funcionário</div>
                            <div class="col-md-4 label-header-item header-label-date">Data registo Produção</div>
                        </div>
                    </div>
                    <div class="order-labels-content row">
                            <div class="col-md-12" dir-paginate="product in productInStock | filter:searchChar | itemsPerPage:100">
                                <div class="row">
                                    <div class="item-inner-wrap">
                                        <div class="col-md-2 table-item item-label-innerref">{{product.INTERNAL_PRODUCT_ID}}</div>
                                        <div class="col-md-2 table-item item-label-prodname">{{product.PRODUCT_NAME}}</div>
                                        <div class="col-md-2 table-item item-label-quantity">{{product.PRODUCTS_PRODUCED}}</div>
                                        <div class="col-md-2 table-item item-label-workername"><strong>{{product.EMPLOYEE_NAME}}</strong></div>
                                        <div class="col-md-4 table-item item-label-date short">
                                            {{product.CREATED_DATE}}
                                            <div class="item-order-actions">
                                                <button id="associate-order" type="submit" ng-click="registerInOrder(product.unique_id, product.INTERNAL_PRODUCT_ID, product.PRODUCTS_PRODUCED)" class="btn btn-default btn-save"><img src="assets/icons/btn-add.svg" width="16px" height="16px">Associar</button>
                                                <button type="submit" ng-click="deleteProductInStock(product.UNIQUE_ID, product.INTERNAL_PRODUCT_ID, product.PRODUCTS_PRODUCED, product.PRODUCT_NAME)" class="btn btn-default btn-cancel"><img src="assets/icons/btn-remove.svg" width="16px" height="16px"></button>

                                                <!-- <a class="btn btn-sm btn-danger" ng-click="deleteLabelToPrint(productLabel.UNIQUE_ID, productLabel.ORDER_ID, productLabel.CUSTOMER_PRODUCT_ID)" data-toggle="tooltip" title="Remover Etiquetas">
                                                    <img src="assets/icons/btn-remove.svg" width="20px" height="24px" />
                                                </a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="pagination">
        <div class="row">
            <div class="container">
                <div align="center">
                    <dir-pagination-controls
                            max-size="100"
                            direction-links="true"
                            boundary-links="true" >
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
