<div class="wrap" ng-controller="ShippingManifestController">
    <div id="actions">
        <div class="row">
            <div class="col-md-12">
                <div class="header-actions">
                    <div class="row">
                        <div class="col-md-6">
                                <div class="row">
                                        <div class="button-wrap col-md-12">
                                            <button style="width:calc(30% - 1px);float:left;background-color:rgb(39, 174, 96);" class="inset-button button print" ng-click="generateExcel()">
                                                <span class="button-inner-wrap">
                                                    <img src="assets/icons/newfile.svg" width="20px" height="20px">
                                                    <span class="btn-text">Gerar Excel</span>
                                                </span>
                                            </button>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 vert-spacer"></div>
                                <div class="col-md-6">
                                    <div class="search-wrap">
                                        <input type="text" name="Pesquisa" ng-model="searchChar" placeholder=" Pesquisar">  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="list-content">
        <div class="row">
            <div ng-table="dailyProductionTable" id="order-table" class="col-md-12">
                <div class="label-table-wrap">
                    <div class="label-table-header row">
                        <div class="inner-wrap">
                            <div class="col-md-1 label-header-item header-label-order">Encomenda</div>
                            <div class="col-md-1 label-header-item header-label-clientref">Ref. Cliente</div>
                            <div class="col-md-1 label-header-item header-label-innerref">Ref. Interna</div>
                            <div class="col-md-3 label-header-item header-label-prodname">Nome Produto</div>
                            <div class="col-md-1 label-header-item header-label-total-painted">Total Produtos Pintados</div>
                            <div class="col-md-1 label-header-item header-label-total-painted">Total Produtos Enviados</div>
                            <div class="col-md-1 label-header-item header-label-quantity-pallet">Paletes Stock</div>
                            <div class="col-md-1 label-header-item header-label-date">Paletes Enviadas</div>
                            <div class="col-md-2 label-header-item header-label-date">Número Paletes</div>
                        </div>
                    </div>
                    <div class="order-labels-content row">
                            <div class="col-md-12" dir-paginate="product in shippingPalletes | filter:searchChar | itemsPerPage:100">
                                <div class="row">
                                    <div class="item-inner-wrap">
                                        <div class="col-md-1 table-item item-label-order" title="{{product.ORDER_ID}}">{{product.ORDER_ID}}</div>
                                        <div class="col-md-1 table-item item-label-clientref">{{product.CUSTOMER_PRODUCT_ID}}</div>
                                        <div class="col-md-1 table-item item-label-innerref">{{product.INTERNAL_PRODUCT_ID}}</div>
                                        <div class="col-md-3 table-item item-label-prodname">{{product.PRODUCT_NAME}}</div>
                                        <div class="col-md-1 table-item item-label-quantity-pallet">
                                            <input type="text" class="form-control" id="totalproductspainted" name="totalproductspainted" placeholder="Referência Produto" ng-value="{{product.TOTAL_PRODUCTS_PAINTED}}" ng-change="hasChangedValues(product.CUSTOMER_PRODUCT_ID, {{product.QUANTITY_IN_PALLETES}})" ng-model="totalproductspainted">
                                            <a class="btn btn-sm btn-danger update-pallet" ng-click="savePalleteQuantityChanges(product.ORDER_ID, product.CUSTOMER_PRODUCT_ID, palletesquantity)" data-toggle="tooltip" title="Gravar Alterações">
                                                <img src="assets/icons/btn-success.svg" width="32px" height="32px" />
                                            </a>
                                        </div>
                                        <div class="col-md-1 table-item item-label-quantity-pallet">
                                            <input type="text" class="form-control" id="totalproductssent" name="totalproductssent" placeholder="Referência Produto" ng-value="{{product.TOTAL_PRODUCTS_PAINTED}}" ng-change="hasChangedValues(product.CUSTOMER_PRODUCT_ID, {{product.QUANTITY_IN_PALLETES}})" ng-model="totalproductssent">
                                            <a class="btn btn-sm btn-danger update-pallet" ng-click="savePalleteQuantityChanges(product.ORDER_ID, product.CUSTOMER_PRODUCT_ID, palletesquantity)" data-toggle="tooltip" title="Gravar Alterações">
                                                <img src="assets/icons/btn-success.svg" width="32px" height="32px" />
                                            </a>
                                        </div>
                                        <!--div class="col-md-2 table-item item-label-quantity-pallet"><strong>{{product.QUANTITY_IN_PALLETES}}</strong></div-->
                                        <div class="col-md-1 table-item item-label-quantity-pallet">
                                            <input type="text" class="form-control" id="palletesinstock" name="palletesinstock" placeholder="" ng-value="{{product.QUANTITY_IN_PALLETES}}" ng-change="hasChangedValues({{product.QUANTITY_IN_PALLETES}})" ng-model="palletesinstock">
                                            <a class="btn btn-sm btn-danger update-pallet" ng-click="savePalleteQuantityChanges(product.ORDER_ID, product.CUSTOMER_PRODUCT_ID, palletesinstock)" data-toggle="tooltip" title="Gravar Alterações">
                                                <img src="assets/icons/btn-success.svg" width="32px" height="32px" />
                                            </a>
                                        </div>
                                        <div class="col-md-1 table-item item-label-quantity-pallet">
                                            <input type="text" class="form-control" id="palletessent" name="palletessent" placeholder="" ng-value="{{product.QUANTITY_IN_PALLETES}}" ng-change="hasChangedValues({{product.QUANTITY_IN_PALLETES}})" ng-model="palletessent">
                                            <a class="btn btn-sm btn-danger update-pallet" ng-click="savePalleteQuantityChanges(product.ORDER_ID, product.CUSTOMER_PRODUCT_ID, palletessent)" data-toggle="tooltip" title="Gravar Alterações">
                                                <img src="assets/icons/btn-success.svg" width="32px" height="32px" />
                                            </a>
                                        </div>
                                        <div class="col-md-2 table-item item-label-quantity-pallet">
                                            <input type="text" class="form-control" id="numberofpalletes" name="numberofpalletes" placeholder="Nr Paletes" ng-value="" ng-change="hasChangedValues({{product.QUANTITY_IN_PALLETES}})" ng-model="numberofpalletes">
                                            <a class="btn btn-sm btn-danger update-pallet" ng-click="savePalleteQuantityChanges(product.ORDER_ID, product.CUSTOMER_PRODUCT_ID, numberofpalletes)" data-toggle="tooltip" title="Gravar Alterações">
                                                <img src="assets/icons/btn-success.svg" width="32px" height="32px" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="action-wrap">
            <div class="row">
                <div class="col-md-12">
                        <button type="submit" ng-click="goBack()" class="btn btn-default btn-cancel"><img src="assets/icons/goback.svg" width="24px" height="24px">Voltar</button>
                </div>
            </div>
        </div>
</div>
